docker_app:
  apps:
    - name: hello-world
      location: /opt/hello-world

  hello-world:
    limit_nofile: 65536

    cmd:
      start: docker-compose up
      stop: docker-compose stop

    env:
      ENV_VAR: value
      ENV_VAR_B: value_b

    docker_compose_yaml: |-
    version: '3'
    services:
      hello_world:
        image: alpine
        command: [/bin/echo, 'Hello world']