docker_app:
  app:
    name: my-app
    location: /opt/my-app

  limit_nofile: 65536

  cmd:
    start: docker-compose up
    stop: docker-compose stop

  env:
    ENV_VAR: value
    ENV_VAR_B: value

  docker_compose_yaml: |-
  version: '3'
  services:
    hello_world:
      image: alpine
      command: [/bin/echo, 'Hello world {{ config.env.ENV_VAR }}']